<html>
    <head>
        <style>
        body { 
            background: #6c7a86;
        }
        .responsive{
            max-width 400px;
            width: 100%;
            height: auto;
        }
        a {
            color: black;
        }
        </style>
    </head>
    <body>
        <hr>
        <div class="row">
            <div class="col"> 
            </div>

            <div class="col">
                <%= image_tag("lol/logolol", class:"responsive")%>
            </div>

            <div class="col">
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col"> 
                <%= image_tag("lol/lolintro", class:"responsive")%>
            </div>

            <div class="col">
                <p>
                    League of Legends is a team-based strategy game where two teams of five powerful champions face off to destroy the other's base.
                    Choose from over 140 champions to make epic plays, secure kills, 
                    and take down towers as you battle your way to victory.
                </p>
            </div>

            <div class="col">
                <%= image_tag("lol/lollol", class:"responsive")%>
            </div>

        </div>
        <hr>
        
        <div class="row">
        
            <div class="col"> 
                <h2>All Worlds Songs</h2>
                <iframe src="https://www.youtube.com/embed/9sUkLTk3eNQ?list=TLPQMTAwOTIwMjAHNLV_-LUz2Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            
            <div class="col"> 
                <h2>All Champion Teasers</h2>
                <iframe src="https://www.youtube.com/embed/vC0C2qNTdtU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="col"> 
                <h2>Top 10 Worlds Best Plays</h2>
                <iframe src="https://www.youtube.com/embed/E9lFxfELvfw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <hr>
    </body>